MONGO_URI=mongodb://admin:admin123@localhost:27017/
MONGO_DB_NAME=jav
MONGO_CONNECT_TIMEOUT_MS=5000

REQUEST_TIMEOUT=30
USE_DYNAMIC_FETCHER=false

MAX_LIST_PAGES=50
LIST_PAGE_DELAY_MIN=4
LIST_PAGE_DELAY_MAX=5
DETAIL_PAGE_DELAY_MIN=2
DETAIL_PAGE_DELAY_MAX=3
SECURITY_WAIT_SECONDS=120

JAVDB_BASE_URL=https://javdb.com

MONGO_USER=changeme
MONGO_PASS=changeme
