__pycache__/
*.py[cod]
*$py.class

.env
.venv/
venv/
.env.*
!.env.example

logs/*.log
scraper/cookies/storage/*.json

.DS_Store
.idea/
.vscode/
.claude/
.superpowers
graphify-out

docs/
.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/
node_modules/
*.tsbuildinfo

frontend/node_modules/
frontend/dist/
mongo_data/
docker/
tests/
backend/tests
run_data/
